div {
    box-sizing: border-box;
}
.font-normal {
    font-family: 'Inter';
    font-style: normal;
    letter-spacing: 0.02em;
}
.align-center {
    text-align: center;
}
.module-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    background: url(../../../public/fontBackground.png);
    background-size: 100% 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.title {
    margin-top: 13px;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #1A1A1A;
}
.description {
    width: 900px;
    margin: 35px auto 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #6B6B6B;
}
.tab {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}
.tab svg {
    margin-inline-end: 6px;
    height: 20px;
}
.tab-button {
    padding: 6px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.tab-name {
    font-size: 14px;
    line-height: 20px;
}
.active {
    font-weight: 600;
    border: 1px solid black;
    border-radius: 16px;
}
.sub-title {
    width: 900px;
    margin: 0 auto 8px;
    text-align: start;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
.text-area {
    width: 900px;
    border-radius: 4px;
}
.btns {
    width: 900px;
    display: flex;
    gap: 10px;
    margin: 12px auto 0;
    justify-content: flex-end;
}
.btn {
    height: 42px;
    border-radius: 4px;
}
.right-btn {
    background-color: #036AC4;
}